In [1]:
# Import the dependencies.

import pandas as pd

import gmaps

import requests

# Import the API key.

from config import g_key

# Store the CSV you save created in part one into a DataFrame.

city_data_df = pd.read_csv('weather_data/cities.csv')

city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bluff,NZ,2022-07-29 01:56:03,-46.6000,168.3333,47.80,87,98,15.90
1,1,Sebastian,US,2022-07-29 01:56:03,35.1668,-94.2669,88.39,64,38,4.70
2,2,Puerto Ayora,EC,2022-07-29 01:56:04,-0.7393,-90.3518,69.55,94,58,4.00
3,3,Jaciara,BR,2022-07-29 01:56:04,-15.9653,-54.9683,70.68,33,67,2.89
4,4,Marondera,ZW,2022-07-29 01:56:05,-18.1853,31.5519,39.22,61,0,4.21

In [2]:
# Get the data types.

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [3]:
# Configure gmaps to use your Google API key.

gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature

# Get the latitude and longitude.

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]
                        
# Assign the figure variable.
                        
fig = gmaps.figure()
                        
# Assign the heatmap variable.
                        
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
                        
# Add the heatmap layer.
                        
fig.add_layer(heat_layer)
                        
# Call the figure to plot the data.
                        
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Geographic center of Earth with zoom level

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
                        
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of cloudiness

locations = city_data_df[["Lat", "Lng"]]

clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of Wind Speed

locations = city_data_df[["Lat", "Lng"]]

wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))

max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Sebastian,US,2022-07-29 01:56:03,35.1668,-94.2669,88.39,64,38,4.70
7,7,Sorong,ID,2022-07-29 01:56:06,-0.8833,131.2500,81.19,81,38,5.88
11,11,Jiangyou,CN,2022-07-29 01:51:53,31.7667,104.7167,82.85,71,71,1.23
12,12,Akdepe,TM,2022-07-29 01:56:08,42.0551,59.3788,78.89,51,52,13.96
13,13,Dongsheng,CN,2022-07-29 01:56:08,39.8161,109.9776,78.46,37,24,18.92
15,15,High Level,CA,2022-07-29 01:56:09,58.5169,-117.1360,75.31,64,75,13.80
18,18,Pierre,US,2022-07-29 01:56:10,44.3683,-100.3510,76.86,50,0,5.01
19,19,Wao,PH,2022-07-29 01:56:11,7.6833,124.6833,75.72,75,99,3.62
20,20,Hobyo,SO,2022-07-29 01:52:33,5.3505,48.5268,75.34,87,81,20.96
23,23,Nalut,LY,2022-07-29 01:56:12,30.3333,10.8500,84.11,22,19,10.98

In [15]:
preferred_cities_df.count()

City_ID       192
City          192
Country       192
Date          192
Lat           192
Lng           192
Max Temp      192
Humidity      192
Cloudiness    192
Wind Speed    192
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = ""

hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1    Sebastian      US     88.39  35.1668  -94.2669
7       Sorong      ID     81.19  -0.8833  131.2500
11    Jiangyou      CN     82.85  31.7667  104.7167
12      Akdepe      TM     78.89  42.0551   59.3788
13   Dongsheng      CN     78.46  39.8161  109.9776
15  High Level      CA     75.31  58.5169 -117.1360
18      Pierre      US     76.86  44.3683 -100.3510
19         Wao      PH     75.72   7.6833  124.6833
20       Hobyo      SO     75.34   5.3505   48.5268
23       Nalut      LY     84.11  30.3333   10.8500

In [25]:
# Set parameters to search for a hotel.

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    
    hotels = requests.get(base_url, params=params).json()

        
    # Grab the first hotel from the results and store the name.
    
    try:
        
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
    
        print("Hotel not found... skipping.")

#Indicate that data loading is complete.

print ("Data Retrieval Complete")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Data Retrieval Complete

In [28]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Sebastian,US,88.39,35.1668,-94.2669,
7,Sorong,ID,81.19,-0.8833,131.2500,Waigo Splash Hotel
11,Jiangyou,CN,82.85,31.7667,104.7167,Shangping Shuyuan Inn
12,Akdepe,TM,78.89,42.0551,59.3788,
13,Dongsheng,CN,78.46,39.8161,109.9776,Crowne Plaza Ordos
...,...,...,...,...,...,...
554,Sarangani,PH,83.19,5.4033,125.4636,JVL Inn and Cafeteria
555,Ranong,TH,84.13,9.9658,98.6348,Numsai Khaosuay Resort Ranong
557,Katobu,ID,83.26,-4.9408,122.5276,La Ode Husein
558,Shenjiamen,CN,83.52,29.9576,122.2980,Jinjiang Inn Zhoushan Putuo Shenjiamen
559,Dandong,CN,81.55,40.1292,124.3947,Yiranju Farmstay

In [29]:
# Add a heatmap of temperature for the vacation spots.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Add a heatmap of temperature for the vacation spots and marker for each city.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """

<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Max Temp</dt><dd>{Max Temp} °F</dd>

</dl>

"""

# Store the DataFrame Row.

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))