## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.

vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")

vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Ushuaia,AR,35.26,light intensity drizzle,-54.8000,-68.3000,Albatross Hotel
1,3,Punta Arenas,CL,33.91,few clouds,-53.1500,-70.9167,Hotel Hain
2,4,Novaya Mayna,RU,60.22,clear sky,54.1500,49.7500,NaN
3,5,Kiunga,PG,77.67,overcast clouds,-6.1219,141.2906,Airport Lodge Kiunga
4,6,Cape Town,ZA,57.38,broken clouds,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """

<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Weather Description and </dt><dd>{Current Description}</dd>

<dt>Max Temp</dt><dd>{Max Temp} °F</dd>

</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.

hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.

locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 4b. Display the figure

fig = gmaps.figure (center=(30.0, 31.0), zoom_level=1.4)

fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="Byron Bay")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Byron Bay")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Yulara")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Ulladulla")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Cooma")]

vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
498,672,Cooma,AU,55.17,broken clouds,-36.2333,149.1333,High Country Motel

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()[0,5], vacation_start.to_numpy()[0,6]
end = vacation_end.to_numpy()[0,5], vacation_end.to_numpy()[0,6]
stop1 = vacation_stop1.to_numpy()[0,5], vacation_stop1.to_numpy()[0,6]
stop2 = vacation_stop2.to_numpy()[0,5], vacation_stop2.to_numpy()[0,6]
stop3 = vacation_stop3.to_numpy()[0,5], vacation_stop3.to_numpy()[0,6]

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

route = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3], travel_mode = "DRIVING")

fig.add_layer(route)

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)

itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,551,Byron Bay,AU,71.94,broken clouds,-28.6500,153.6167,Backpackers Inn
1,458,Yulara,AU,77.52,clear sky,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
2,665,Ulladulla,AU,69.03,scattered clouds,-35.3500,150.4667,Sandpiper Motel
3,672,Cooma,AU,55.17,broken clouds,-36.2333,149.1333,High Country Motel

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Weather Description and </dt><dd>{Current Description}</dd>

<dt>Max Temp</dt><dd>{Max Temp} °F</dd>

</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.

hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.

locations = itinerary_df[["Lat", "Lng"]]

In [11]:
# 11a. Add a marker layer for each city to the map.

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure

fig = gmaps.figure ()

fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))